:host{
    width: 100%;
    min-height: 220px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}